<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcd.sharding.db.mapper.db.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.lcd.sharding.db.mapper.db.entity.TUser">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, fullname, user_type
  </sql>
</mapper>